{% extends 'base.html.twig' %}
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
        <link href="{{ asset('css/dades.css') }}" rel="stylesheet" />
    {% endblock %}
    {% block body %}
    {% block title %}Equips{% endblock %}
        <div class="contenidor">
            {% if error %}
                <h1>Projecte Symfony Equips 2n DAW</h1>
                <h2>Error en la inserció de l'equip {{ equip.nom }}</h2>
                <img src="{{ asset('img/sad.jpg') }}" />
                <p>{{ error }}</p>
                <a href ="{{ path('inici') }}">Tornar al inici</a>
            {% else %}
            <div class="contenidor">
                <h1>Projecte Symfony Equips 2n DAW</h1>
                <h2>Equip {{ equip.id }} amb el nom {{ equip.nom }} insertat correctament</h2>
                <img src="{{ asset('img/'~equip.imatge~'') }}" />
                <a href ="{{ path('inici') }}">Tornar al inici</a>
        
            {% endif %}
         </div>
    {% endblock %}